/* Google fonts import (Inter & Maconda) */
/* Inter, sans-serif | Macondo, cursive */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");

/* CSS Variables */
:root {
  /* Font variables */
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", cursive;
  /* Colour variables */
  --primary-color: #3a2620; /* dark brown */
  --secondary-color: #aa9581; /* light brown */
  /* Highlight (colours) */
  --highlight-colour: #416a8e; /* blue */
  --highlight-colour-light: #7a9fc2; /* light blue */
}

/* Global styles */
body {
  font-family: var(--primary-font);
  padding-top: 60px; /* pushes content down to make space for the navbar */
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: 2rem;
}

.sub-heading-colour {
  color: var(--highlight-colour);
}

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Buttons */

.custom-button-filled {
  border: 2px solid var(--highlight-colour);
  background-color: var(--highlight-colour);
  color: white;
}

.custom-button-filled:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
}

.custom-button-outline {
  border: 3px solid var(--highlight-colour);
  background-color: transparent;
  color: var(--highlight-colour);
  padding: 7px 25px;
}

.custom-button-outline:hover {
  background-color: var(--highlight-colour);
  color: white;
}

/* Navbar */

#navbar {
  background-color: var(--primary-color);
}

#navbar .logo {
  width: 30px;
}

/* Header */

#header .lead {
  font-family: var(--secondary-font);
}

/* Services */

#services .card {
  margin-bottom: 1.5rem;
}

#services .card-footer {
  font-weight: bold;
  color: var(--highlight-colour);
  background-color: transparent;
}

/* Events */

#events #student-discount {
  background-color: var(--highlight-colour);
  color: white;
  padding: 5px 20px;
}


/* Game library cards */

#new-games .card,
#fav-games .card {
  border: none;
}

/* Footer / contact */

#contact {
  background-color: var(--primary-color);
  color: white;
  padding-bottom: 3rem;
}

#contact h2 {
  color: white;
}

#contact .sub-heading-colour {
  color: var(--highlight-colour-light);
}

#contact i {
  color: var(--secondary-color);
  font-size: 1.2rem;
  margin-right: 15px;
}

#contact .social-links i {
  color: var(--highlight-colour-light);
  font-size: 1.9rem;
  transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
  color: var(--secondary-color);
}

#contact .table-dark * {
  background-color: transparent;
}

/* Media Queries */

/* Extra small devices (small phones less than 576px) */

@media screen and (max-width: 576px) {
  /* To prevent table overflow in events section */
  #events .table {
    font-size: 0.8rem;
  }
  /* To make student discount text fit better on small screens */
  #events #student-discount {
    font-size: 0.9rem;
  }
}

/* Medium devices (tablets, 768px and up) */

@media screen and (min-width: 768px) {
  /* To make all services cards the same height */
  #services .card-body {
    min-height: 191px;
  }
}

/* Large devices (small laptops, 992px and up) */

@media screen and (min-width: 992px) {
  /* To reduce excess spacing and make all services cards the same height */
  #services .card-body {
    min-height: auto;
  }
}

/* Extra large devices (large laptops / PCs, 1200px and up) */

@media screen and (min-width: 1200px) {
  /* To make all services cards the same height */
  #services .card-body {
    min-height: 220px; /* 217 on my screen */
  }
}

/* XXL devices (large PCs, 1400px and up) */

@media screen and (min-width: 1400px) {
  /* To make all services cards the same height */
  #services .card-body {
    min-height: 195px; /* 194 on my screen */
  }
}

/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */
