/* Google fonts import (Inter & Maconda) */
/* Inter, sans-serif | Macondo, cursive */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");

/* CSS Variables */
:root {
  /* Font variables */
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", cursive;
  /* Colour variables */
  --primary-color: #3a2620; /* dark brown */
  --secondary-color: #aa9581; /* light brown */
  /* Highlight (colours) */
  --highlight-colour: #416a8e; /* blue */
  --highlight-colour-light: #7a9fc2; /* light blue */
}

/* Global styles */
body {
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: 2rem;
}

.sub-heading-colour {
  color: var(--highlight-colour);
}

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Navbar */

#navbar {
  background-color: var(--primary-color);
}

#navbar .logo {
  width: 30px;
}

/* Header */

#header .lead {
  font-family: var(--secondary-font);
}

/* Services */

#services .card {
  margin-bottom: 1.5rem;
}

#services .card-footer {
  font-weight: bold;
  color: var(--highlight-colour);
  background-color: transparent;
}

/* Media Queries */

/* Medium devices (tablets, 768px and up) */

@media screen and (min-width: 768px) {
  /* To make all services cards the same height */
  #services .card-body {
    min-height: 191px;
  }
}

/* Large devices (small laptops, 992px and up) */

@media screen and (min-width: 992px) {
  /* To reduce excess spacing and make all services cards the same height */
  #services .card-body {
    min-height: auto;
  }
}

/* Extra large devices (large laptops / PCs, 1200px and up) */

@media screen and (min-width: 1200px) {
  /* To make all services cards the same height */
  #services .card-body {
    min-height: 220px;  /* 217 on my screen */
  }
}

/* XXL devices (large PCs, 1400px and up) */

@media screen and (min-width: 1400px) {
  /* To make all services cards the same height */
  #services .card-body {
    min-height: 195px; /* 194 on my screen */
  }
}

/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */
